<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="LoginTest">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
    <test verbose="2" name="RegisterTest">
        <classes>
            <class name="RegisterTest"/>
        </classes>
    </test>
    <test verbose="2" name="E2ETest">
        <classes>
            <class name="E2ETest"/>
        </classes>
    </test>
</suite>